<a href="https://colab.research.google.com/github/Hoang-Quang-Thang/Thang/blob/main/pandas1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [70]:
import pandas as pd
import random

Đọc csv file vào dataframe

In [104]:
df=pd.read_csv('gdrive/My Drive/thang.csv')
print(df)

   Series reference  ... Revised
0    PPIQ.SQU900000  ...    1184
1    PPIQ.SQU900001  ...    1181
2    PPIQ.SQUC76745  ...    1603
3    PPIQ.SQUCC3100  ...    1170
4    PPIQ.SQUCC3110  ...    1170
..              ...  ...     ...
73   PPIQ.SQNMN2100  ...    1195
74   PPIQ.SQNRS211X  ...    1127
75       FPIQ.SEC14  ...    1120
76       FPIQ.SEC99  ...    1068
77       FPIQ.SEH14  ...    1110

[78 rows x 5 columns]

In [28]:
df.head(5)   # 5 hàng đầu của csv

  Series reference  ... Revised
0   PPIQ.SQU900000  ...    1184
1   PPIQ.SQU900001  ...    1181
2   PPIQ.SQUC76745  ...    1603
3   PPIQ.SQUCC3100  ...    1170
4   PPIQ.SQUCC3110  ...    1170

[5 rows x 5 columns]

In [29]:
df.tail(3) # 3 hàng cuối của csv

   Series reference  ... Revised
75       FPIQ.SEC14  ...    1120
76       FPIQ.SEC99  ...    1068
77       FPIQ.SEH14  ...    1110

[3 rows x 5 columns]

Thao tác với dataframe trong pandas

In [105]:
print('Len: ',len(df))  # Xem chiều dài của df, tương đương shape[0]
print("")
df.info()                  # Xem thông tin dataframe vừa đọc được
print("")
print('Shape:', df.shape)  # Xem kích thước của dataframe

Len:  78

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 78 entries, 0 to 77
Data columns (total 5 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Series reference      78 non-null     object
 1   Description           78 non-null     object
 2   Period                78 non-null     float64
 3   Previously published  78 non-null     int64
 4   Revised               78 non-null     int64
dtypes: float64(1), int64(2), object(2)
memory usage: 3.2+ KB

Shape: (78, 5)

Truy xuất dữ liệu trên dataframe

In [37]:
df['Series reference']  # Lấy 1 cột theo tên cột

0     PPIQ.SQU900000
1     PPIQ.SQU900001
2     PPIQ.SQUC76745
3     PPIQ.SQUCC3100
4     PPIQ.SQUCC3110
           ...
73    PPIQ.SQNMN2100
74    PPIQ.SQNRS211X
75        FPIQ.SEC14
76        FPIQ.SEC99
77        FPIQ.SEH14
Name: Series reference, Length: 78, dtype: object

In [43]:
df[['Previously published', 'Revised']].head(5)  # Lấy nhiều cột theo tên cột và chỉ [5] hàng đầu

   Previously published  Revised
0                  1183     1184
1                  1180     1181
2                  1400     1603
3                  1169     1170
4                  1169     1170

Lấy bản ghi theo chỉ số

In [47]:
df[0:5]   # Lấy 5 hàng đầu với bắt đầu là dòng [0]

  Series reference  ... Revised
0   PPIQ.SQU900000  ...    1184
1   PPIQ.SQU900001  ...    1181
2   PPIQ.SQUC76745  ...    1603
3   PPIQ.SQUCC3100  ...    1170
4   PPIQ.SQUCC3110  ...    1170

[5 rows x 5 columns]

In [59]:
df[['Previously published', 'Revised']][:8]  # Lấy nhiều cột theo tên cột [8] hàng đầu với bắt đầu là dòng [0]

   Previously published  Revised
0                  1183     1184
1                  1180     1181
2                  1400     1603
3                  1169     1170
4                  1169     1170
5                  1132     1133
6                  1132     1133
7                  1132     1133

Lấy các bản ghi theo điều kiện

In [67]:
a = df[df['Revised'] < 1100]
print(a)

   Series reference  ... Revised
29   PPIQ.SQNCC2000  ...     957
30   PPIQ.SQNCC2100  ...     957
31   PPIQ.SQNCC211X  ...     904
64   PPIQ.SQNII1200  ...    1033
66   PPIQ.SQNJJ0000  ...     998
67   PPIQ.SQNJJ1000  ...     998
68   PPIQ.SQNJJ1100  ...    1062
76       FPIQ.SEC99  ...    1068

[8 rows x 5 columns]

Lấy giá trị trả về numpy arrays

In [107]:
df['Revised'].values

array([1184, 1181, 1603, 1170, 1170, 1133, 1133, 1133, 1149, 1112, 1249,
       1249, 1174, 1174, 1238, 1318, 1188, 1188, 1271, 1271, 1153, 1153,
       1154, 1153, 1568, 1103, 1166, 1264, 1264,  957,  957,  904, 1213,
       1144, 1164, 1164, 1115, 1115, 1151, 1151, 1141, 1141, 1141, 1192,
       1192, 1161, 1252, 1233, 1233, 1283, 1142, 1142, 1142, 1120, 1148,
       1126, 1155, 1159, 1122, 1143, 1124, 1124, 1142, 1142, 1033, 1262,
        998,  998, 1062, 1110, 1224, 1213, 1195, 1195, 1127, 1120, 1068,
       1110])

Thêm, sửa, xóa trong dataframe

In [108]:
df_len = len(df)
birthday = [random.randrange(1980, 2000, 1) for i in range(df_len)]     #  Thêm cột từ dữ liệu mới
df['Birthday'] = birthday
df.tail(5)

   Series reference  ... Birthday
73   PPIQ.SQNMN2100  ...     1987
74   PPIQ.SQNRS211X  ...     1991
75       FPIQ.SEC14  ...     1990
76       FPIQ.SEC99  ...     1983
77       FPIQ.SEH14  ...     1990

[5 rows x 6 columns]

In [109]:
df['Is_young'] = df['Birthday'] >1990     # Thêm cột dựa vào dữ liệu đã có
df.head(5)

  Series reference  ... Is_young
0   PPIQ.SQU900000  ...    False
1   PPIQ.SQU900001  ...    False
2   PPIQ.SQUC76745  ...     True
3   PPIQ.SQUCC3100  ...    False
4   PPIQ.SQUCC3110  ...    False

[5 rows x 7 columns]

In [111]:
df.drop('Revised', axis=1).head(5)         # Xóa 1 cột

  Series reference  ... Is_young
0   PPIQ.SQU900000  ...    False
1   PPIQ.SQU900001  ...    False
2   PPIQ.SQUC76745  ...     True
3   PPIQ.SQUCC3100  ...    False
4   PPIQ.SQUCC3110  ...    False

[5 rows x 6 columns]

In [117]:
df.drop(['Period', 'Birthday','Revised'], axis=1).head(5)    # Xóa nhiều cột

  Series reference  ... Is_young
0   PPIQ.SQU900000  ...    False
1   PPIQ.SQU900001  ...    False
2   PPIQ.SQUC76745  ...     True
3   PPIQ.SQUCC3100  ...    False
4   PPIQ.SQUCC3110  ...    False

[5 rows x 4 columns]

In [119]:
df.drop(columns=['Period', 'Birthday','Revised']).head(5) # Xóa các cột có tên (tương tự như trên)

  Series reference  ... Is_young
0   PPIQ.SQU900000  ...    False
1   PPIQ.SQU900001  ...    False
2   PPIQ.SQUC76745  ...     True
3   PPIQ.SQUCC3100  ...    False
4   PPIQ.SQUCC3110  ...    False

[5 rows x 4 columns]

In [125]:
df.drop([3, 6]).head(6)    # Xóa bản ghi hàng [3] và [6]

  Series reference  ... Is_young
0   PPIQ.SQU900000  ...    False
1   PPIQ.SQU900001  ...    False
2   PPIQ.SQUC76745  ...     True
4   PPIQ.SQUCC3110  ...    False
5   PPIQ.SQUFF0000  ...    False
7   PPIQ.SQUFF1100  ...    False

[6 rows x 7 columns]

Sắp xếp dataframe

In [129]:
df = pd.DataFrame({'Series reference': ['PPIQ.SQU900000', 'PPIQ.SQU900000', 'PPIQ.SQUC76745'], 'Revised': [1184,1181,1603]})
print('Before sort\n', df)
df = df.sort_values('Revised', ascending=True)
print('After sort\n', df)

Before sort
   Series reference  Revised
0   PPIQ.SQU900000     1184
1   PPIQ.SQU900000     1181
2   PPIQ.SQUC76745     1603
After sort
   Series reference  Revised
1   PPIQ.SQU900000     1181
0   PPIQ.SQU900000     1184
2   PPIQ.SQUC76745     1603